*{
    border: 0;
    margin: 0;
    box-sizing: border-box; 
}

body{
    background-image: linear-gradient(cornflowerblue, grey);
    background-image: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vw;
        
}

h2{
    text-align: center;
}

.card{
    width: 20%;
    height: 15vh;
    border: 1px solid black;
    box-shadow: 4px 4px 6px grey;
    background-color: white;
    border-radius: 5px;
}

.cardbox{
    display:flex;
    flex-wrap: wrap;
    width: 75vw;
    margin: 0 auto;
}